<div class="radial">
    <button class="">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="redux"></icons>
    </button>
    <button class="radial-button radial-button-1">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="notes"></icons>
    </button>
    <button class="radial-button radial-button-2">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="menu"></icons>
    </button>
    <button class="radial-button radial-button-3">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="x"></icons>
    </button>
    <button class="radial-button radial-button-4">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="check"></icons>
    </button>
    <button class="radial-button radial-button-5">
        <icons class="w-6 h-6 stroke-2 stroke-current text-gray-500" name="edit"></icons>
    </button>
</div>